/* Print styles */
/* Yasser Hasan; 000888803 */
* {
	margin: 0;
	padding: 0;
	background-color: white !important;
	color: black !important;
	border: none !important;
}
		footer {
			display: none;
		}

		nav { 

		display: none;

		}

		
		
		header {
			
			display:none;
			
		}